<%- include('../partials/header'); -%>
<%- include('../partials/menu') %>
<body id ="body" style="background-color: rgb(20, 20, 20);">
  <main>

    <div class="container-lg bg-light rounded" style="margin-top: 2%;">
      <div>
        <br>
        <h2 style="text-align: center;">
          About Griffin Kiesecker
        </h2> 
        <p>
          Griffin Kiesecker is a DevOps Engineer and System Administrator for Northrop Grumman Space Systems, to ensure that the mission critical system he supports remains secured and in baseline. He has developed automation for critical components of his technology baseline, such as provisioning and patching of Netapp ONTAP OS, VMware vSphere, and FreeIPA Identity Management, and RHEL servers.
        </p>
        <h2 style="text-align: center;">
          Technical Skills
        </h2>
        <p>
          Via work experience, personal projects, and certifications Griffin has become acqauinted with various technologies:
          Linux system administration and development, VMware vSphere, NetApp ONTAP, Ansible, CDK (using Typescript)/CloudFormation, AWSCLI, CodePipeline/CodeBuild/CodeDeploy, Python, JavaScript, C++, SQL, and LaTeX
        </p>
        <p>
          More information about my skills can be seen in the Certifications and Projects page, where I go into detail about the practical applications of these skills.
        </p>
        <h2 style="text-align: center;">
          Contact and Clearance Information
        </h2 >
        <p style="text-align: center;">
          Email: <a href="mailto:grifkies@protonmail.com">grifkies@protonmail.com</a>
        </p>  
        <p style="text-align: center;">
          Phone Number: +1-970-657-7557
        </p>  
        <p style="text-align: center;">
          LinkedIn: <a href="https://www.linkedin.com/in/griffin-kiesecker/">Griffin Kiesecker - LinkedIn</a>
        </p>  
        <p style="text-align: center;">
          Credly: <a href="https://www.credly.com/users/griffin-kiesecker/badges">Credly Badges</a>
        </p>  
        <p style="text-align: center;">
          Clearance: TS/SCI with CI Polygraph
        </p>
      </div>
      <div class="card-columns" id="insert_here">  
        <script>
          
        </script>
        <script>
        function hex_to_ascii(str1)
        {
          var hex  = str1.toString();
          var str = '';
          for (var n = 0; n < hex.length; n += 2) {
            character = String.fromCharCode(parseInt(hex.substr(n, 2), 16));
            if(character != 'Ú'){
              str += character;
            } 
          }
          return str;
        }
        function get_data(resume_name, resume_url, resume_img, resume_id, resume_desc) { 
          card.innerHTML += "<div class=\"card\" id=\"" + resume_id + "\" style=\"width: 20rem;\"><img src="+ resume_img + " class=\"card-img-top\" alt=\"Resume Image\"><div class=\"card-body\"><h4 class=\"card-title\">" + resume_name + "</h4><h5>Related Link: <a href=\"" + resume_url + "\">Link</a>></h5><p class=\"card-text\">" +  resume_desc + "</p></div></div>";
        }
        <% if (items) { %>
                  card = document.getElementById("insert_here");
                  card.innerHTML = "";
                  <% items.forEach( item => { %>
                    get_data("<%- item.name %>", "<%- item.url %>","<%- item.pillow_id %>", "<%- item.pillow_desc %>", "<%- item.pillow_color -%>", "<%- item.pillow_location -%>");
                  <% }); %>
                <% } %>
        </script>
        
      </div>
  </main>
  <%- include('../partials/footer'); -%>
</body>
